@{
    ViewData["Title"] = "ïŋ―ïŋ― Saïŋ―lïŋ―ïŋ―ïŋ― ve Gïŋ―venliïŋ―i";
}

<h1>ïŋ―ïŋ― Saïŋ―lïŋ―ïŋ―ïŋ― ve Gïŋ―venliïŋ―i</h1>
<p>Bu sayfa ïŋ―ïŋ― Saïŋ―lïŋ―ïŋ―ïŋ― ve Gïŋ―venliïŋ―i ile ilgili bilgileri iïŋ―ermektedir.</p>